@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

*{
   
 font-family: "Protest Revolution", sans-serif;
    margin: 0;
    padding: 0;

}
section#inicio{
    width: 100%;
    min-height: 100vh;
    background: url("../img/fonndoo.jpg");
    background-size: cover ;
    background-position: center;
    position: relative;
    z-index: 1;
}
#inicio.inicio2{
background:url("../img/fondo brangruk.jpg");
background-size: cover ;
}    

#figura.ingresar{
    background: rgb(255, 0, 0);
}



.fila{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
    min-height: 70vh;
    padding-top: 120px;
}

.col-izquierdo, 
.col-derecho {
    width: 50%;
    text-align: center;
    border: 1px solid white;
    padding: 40px;
    min-height: 600px;
}
h2{
    font-size: 40px;
    color: aliceblue;
    padding: 20px;
    border-bottom: 1px solid #ffff;
}

button{
    background: white;
    color: blueviolet;
    padding: 10px 30px;
    margin: 8px;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    transform: scale(0.8);
    background: black;
    color: blueviolet;
    
}
#figura{
    width: 210px;
    height: 210px;
    background: rgb(255, 255, 255);
    margin: 100px auto;
    transition: 1s;
}
#figura.circulo{
    transform: rotate(360deg) scale(1.2);
    border-radius: 50%;
    background: rosybrown;
}
#figura.rectangulo {
    height: 300px;
    background: rgb(204, 145, 216);
}
#figura.right{
    background: url("../img/osito.jpg");
    transform: translateX(200px);
}
#figura.left{
    background: url("../img/vaquita.jpg");
    transform: translateX(-200px);
}

#figura.degradado {
    width: 210px;
    height: 210px;
    background: linear-gradient(to right, rgb(243, 38, 38), rebeccapurple);
    margin: 100px auto;
    transition: 1s;
}

#figura.gif {
    width: 255px;
    height: 255px;
    background: url("../img/Gifff.gif");
    background-size: cover;
    margin: 100px auto;
    transition: 1s;
}

#figura.luna{ 
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
    box-shadow: 50px 25px 0 #c9bdbd; 
    background: transparent;
}

#figura.estrella {
    margin-top: 210px;
    position: relative;
    display: block;
    color: rgb(188, 196, 240);
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid rgb(188, 196, 240);
    border-left: 100px solid transparent;
    transform: rotate(35deg);
    background: transparent; 
    
}
#figura.estrella:before {
    border-bottom: 80px solid rgb(188, 196, 240);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
}
#figura.estrella:after {
    position: absolute;
    display: block;
    color: rgb(188, 196, 240);
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid rgb(188, 196, 240);
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
}

#figura.triangulo {
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 165px solid rgb(78, 166, 207);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);

}

#figura.topp{
    
    transform: translateY(200px);
    background-color: rgb(48, 143, 99);
}

#figura.button{
    transform: translateY(-100px);
    background-color: rgb(20, 105, 87);
}

#figura.diagonal {
    width: 150px;
    height: 150px;
    background-color: rgb(146, 51, 67);
    transform: rotate(45deg);
}
#panel-lateral{
    width: 400px;
    height: 100%;
    position: absolute;
    left: -450px;
    top: 0;
    z-index: 9;
    background: rgb(146, 51, 67);
    transition: 1s;
    
}
#panel-lateral.active{
    left: 0;

}
#panel-lateral h2{
    color: black;
    font-size: 40px;
    padding: 40px 30px;

}

#panel-lateral ul{
    width: 80%;
    margin: 20px auto;
}
#panel-lateral ul a{
    display: block;
    padding: 20px;
    background: black;
    color: white;
    text-align: center;
    margin:  20px 0;
    text-decoration: none;
    font-size: 22px;
}
#panel-lateral ul a :hover{
    border-radius: 20px;
}

#panel-superior{
    width: 100%;
    height: 400px;
    position: absolute;
    top: -450px;
    left:  0;
    z-index: 8;
    background: rgb(146, 51, 67);
    transition: 1s;
    
}
#panel-superior.active{
    top: 0;
}
#panel-superior iframe{
    position: relative;
    left: 700px;
    right:50px ;

}


